body{
    margin: 0;
    padding: 0;
    background-color:#FFF9F3;
}
nav{
    width: 100%;
    background-color: #424558;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 60vw;

}

nav li{
    list-style-type:none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

.lien_nav:hover{
    border-top: 5px solid #e44d26;
    background-color:RGBa(000, 112,192, 0.15);
}
/*Css Formulaire*/

input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
}

input:hover{
    border: 1px solid #aaa;
}

form{
    width: 300px;
}

button{
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;

    /* usual styles */
    padding:10px;
    border:none;
    background-color:#424558;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:50%;
    transition:all ease-in-out 0.3s ;
}

button:hover{
    opacity:80%;
    cursor:pointer;

}

/*Css Buttons*/
.btn {
    margin-top: 5rem;
    display: inline;
    border: solid 1px #424558;
    padding: 7px 20px;
    border-radius: 3px;
    font-weight: 700;
    color: #424558;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #424558;
    color: white;
}

.livre {
    border: 2px solid black;
    margin: 1rem;
    padding: 3rem;
}
.author{
    border: 2px solid black;
    margin: 1rem;
    padding: 3rem;
}

.succes{
    font-size: 30px;
    background-color: green;
}


