{% extends 'Admin/base.html.twig' %}


{% block title %}{{'Le royaume du livre'}}{% endblock %}

{% block main %}
    <h1 class="titre_accueil">Bienvenue au royaume du livre!</h1>
    <section id="landing">

        <div class="vue_gauche">
            <p class="texte_gauche">Tous nos livres sélectionnés pour vous. Découvrez toute notre collection parmi les meilleurs auteurs de litterature </p>
        </div>

        <div class="photos_vue">
            <img class="img_accueil" src="https://www.challenges.fr/assets/img/2022/02/15/cover-r4x3w1000-62cbf1d15e982-15reprise-d-etudes-se-lancer.jpg">
            <img class="img_accueil" src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/c/e/e/ceee603c5c_50162051_adobestock-296552751.jpg">
        </div>
        <div class="photos_vue_D">
            <img class="img_accueil" src="https://www.leparisien.fr/resizer/SGyYZlRaIRXWStp-NVopGY2mwdQ=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/SJUQ4N355ZA25EOYAKC5CO6DTY.jpg">
            <img class="img_accueil" src="https://www.artistikrezo.com/wp-content/uploads/2020/03/Top-10-des-livres-a%CC%80-lire-a%CC%80-tout-prix-e1584548393404.png">
        </div>

    </section>
{% endblock %}
