input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}

input:hover {
  border: 1px solid #aaa;
}

form {
  width: 300px;
}

button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;
  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #424558;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 50%;
  transition: all ease-in-out 0.3s;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

.form_search {
  display: flex;
  align-items: center;
  width: 250px;
  margin-left: 2rem;
}

/*Css Buttons*/
.btn {
  margin-top: 5rem;
  display: inline;
  border: solid 1px #424558;
  padding: 7px 20px;
  border-radius: 3px;
  font-weight: 700;
  color: #424558;
  text-decoration: none;
}

.btn:hover {
  background-color: #424558;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF9F3;
}
body nav {
  width: 100%;
  background-color: #424558;
  text-align: center;
  display: flex;
}
body ul {
  display: flex;
  padding: 0;
  overflow: hidden;
  margin-left: 15vw;
}
body li {
  display: inline;
  list-style-type: none;
  float: left;
  justify-content: center;
}
body a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: #fff;
}

nav li:hover a {
  padding: 15px 30px 20px 30px;
}

.lien_nav:hover {
  border-top: 5px solid #FFF9F3;
  background-color: RGBa(0, 112, 192, 0.15);
}

* .mobile {
  display: none;
}

.author {
  border: 2px solid black;
  margin: 1rem;
  padding: 3rem;
}

.author {
  background-color: #FFF9F3;
}

h1 {
  text-align: center;
}

#landing {
  border: 2px solid black;
  border-radius: 30px;
  width: 75vw;
  margin: auto;
  display: flex;
  background: #FFF9F3;
}

.vue_gauche {
  margin: auto;
  padding: 2rem;
}

.img_accueil {
  width: 20vw;
  height: 30vh;
  margin: 1rem;
  border-radius: 30px;
}

footer {
  background-color: #424558;
  height: 5rem;
}

.succes {
  font-size: 30px;
  background-color: green;
}

.livre {
  border: 2px solid black;
  margin: 1rem;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  #landing {
    flex-direction: column;
  }
  .desktop {
    display: none;
  }
  .img_accueil {
    width: 70vw;
    height: auto;
    margin: auto;
  }
  .liens {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin-top: 1rem;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    margin: auto;
  }
  .form_search {
    margin: auto;
  }
  .mobile {
    display: block;
  }
  /* Sidenav menu */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #111;
  }
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}
.night {
  background-color: #272731;
}

/*# sourceMappingURL=style.css.map */
