body {
  margin: 0;
  padding: 0;
  background-color: #FFF9F3;
    nav {
      width: 100%;
      background-color: #424558;
      text-align: center;
      display: flex;
      }ul {
      display: flex;
       padding: 0;
       overflow: hidden;
       margin-left: 15vw;
       }li {
        display: inline;
        list-style-type: none;
        float: left;
        justify-content: center;
        }a {
         display: inline-block;
         text-decoration: none;
         padding: 20px 30px;
         color: #fff;
       }
}
nav li:hover a {
  padding: 15px 30px 20px 30px;
}

.lien_nav:hover {
  border-top: 5px solid #FFF9F3;
  background-color: RGBa(0, 112, 192, 0.15);
}
*
.mobile{
  display: none;
}
